#about
  font-size: 1em

  .about-title
    text-align: center

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    cursor: pointer

    &:before
      display: none


  .about-technologies
    h2
      margin-top: 15px

    ul.tech-list-item
      display: flex
      flex-flow: row wrap
      justify-content: center
      margin: 1rem 0 0 0
      padding: 0
      list-style: none
      border: 0
      font-size: 100%
      font: inherit
      vertical-align: baseline
      font-synthesis: none
      text-rendering: optimizeLegibility

      li.tech-item
        width: 5rem;
        display: list-item;
        text-align: -webkit-match-parent;
        padding: 0;
        margin: 0.3rem;
        border-radius: 2px
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26)
        background-image: url(/background.svg);
        background-size: 1000%

        &:before
          display: none

        &:hover
          opacity: 0.7
        
        a
          text-decoration: none
          color: #D3D0CB

          &:hover
            color: #D3D0CB


          figure
            margin: 1em 15px

            .tech-item-img
              text-align: center
              min-height: 50px

              img
                max-width: 100%
                max-height: 45px
                border: none

                &:hover
                  box-shadow:none

            figcaption
              text-align: center
              line-height: 1.4

              cite.tech-item-name
                font-size: 0.8rem

              p
                font-weight: bold
                font-size: 0.6rem
                padding: 0.3333333333333333rem 0

              .level-green
                color: #9FE80C
              .level-blue
                color: #85B9BF
              .level-normal
                color: #FDB813
              
              .tech-item-time
                font-size: 0.6rem


#about .about-technologies .skillCardList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#about .skillCard::before {
  display: none;
}

#about .skillCard {
  position: relative;
  min-width: 100px;
  width: 175px;
  margin: 15px auto;
  padding: 0;
}

#about .skillCard__button {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 50%;
  transition: transform 0.25s;
  overflow: hidden;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .skillCard__button > img {
  width: 100%;
  max-width: 60px;
  border: none;
}
#about .skillCard__button > img:hover {
  border: none;
  box-shadow: none;
}

#about .moreInfoCard {
  opacity: 0;
  visibility: hidden;
  transition: 
    visibility .5s ease-out,
    opacity .5s ease-out;
  position: absolute;
  bottom: calc(100% + 9px);
  width: calc(150%);
  left: calc(-25%);
  z-index: 999;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  font-size: 1em;
}

#about .moreInfoCard__title {
  text-align: center;
  padding: .7em 0 .5em 0;
  border-bottom: 4px solid #33B0E6;
  display: block;
}

#about .moreInfoCard__scrim {
  position: relative;
}

#about .moreInfoCard__caret {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 10px;
}
#about .moreInfoCard__caret::after {
  left: calc(50% + 10px);
  border: 1px solid #d6d6d6;
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(135deg);
  transform-origin: 0% 0;
  background-color: white;
}

#about .moreInfoCard__content {
  padding: .5em .5em;
}

#about .skillCard__button:hover ~ .moreInfoCard {
  opacity: 1;
  visibility: visible;
  transition: 
    visibility .3s ease-in, 
    opacity .3s ease-in;
}

#about .moreInfoCard:hover {
  opacity: 1;
  visibility: visible;
  transition: all 0s;
}

#about .skillCard__button:hover {
  transform: rotate(135deg);
  transition: transform 0.5s;
}


#about .moreInfoCard__dataList {
  display: inline;
}
#about .moreInfoCard__dataList dt {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 6px;
}
.moreInfoCard__dataList dd {
  margin: 0;
  padding: 0 0 .5em 0;
  padding-left: 25px;
  color: #33B0E6;
}

#about .moreInfoCard__dataList dd::before, #about .moreInfoCard__dataList li::before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-size: 1em;
  left: 10px;
  position: absolute;
  top: auto;
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  line-height: inherit;
}
#about .moreInfoCard__dataList dd:nth-child(4)::before {
  content: none;
}
#about .moreInfoCard__dataList li:hover:before {
  transform: none;
}

#about .moreInfoCard__dataList ul.moreInfoCard__projectList {
  list-style-type: none;
  padding: .1em 2px;
  margin: 0;
}
#about .moreInfoCard__dataList li {
  padding: .1em 0;
  position: static;
  margin: 0;
}
#about .moreInfoCard__dataList li a {
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s ease;
}
#about .moreInfoCard__dataList li a:hover {
  background: #f6f6f6;
}


#about dd.level-green, span.level-green {
  color: darkgreen;
}
#about dd.level-blue, span.level-blue {
  color: #85B9BF;
}
#about .level-normal {
  color: #FDB813;
}
#about .level-defaultColor {
  color: black;
}

#about b.borderBottomGreen {
  border-bottom-color: darkgreen;
}
#about b.borderBottomBlue {
  border-bottom-color: #85B9BF;
}
#about b.borderBottomNormal {
  border-bottom-color: #FDB813;
}
#about b.borderBottomDefaultColor {
  border-bottom-color: silver;
}

#about .borderGreen {
  border-color: darkgreen;
}
#about .borderBlue {
  border-color: #85B9BF;
}
#about .borderNormal {
  border-color: #FDB813;
}
#about .borderDefaultColor {
  border-color: silver;
}

