#nav
  position: relative
  margin-bottom: 1rem
  background-color: black
  background-attachment: fixed
  background-position: center
  background-size: cover

  &.no-bg
    $bg-svg += ""
    background-image: url($bg-svg) !important
    background-size: initial

#site-info
  padding: 4rem 1rem;

#site-title,
#site-sub-title
  color: $light-grey
  text-align: center
  line-height: 1.5

#site-title
  font-weight: bold
  font-size: 1.3rem

#site-sub-title
  font-size: 0.8rem

#site-social-icons
  margin: 0 auto
  width: 15rem
  text-align: center

  .social-icon
    margin: 0 0.5rem
    color: $light-grey
    font-size: 1.4rem
    cursor: pointer

    &:hover
      color: $white

#page-header
  display: flex
  justify-content: space-between
  position: absolute
  top: 0
  z-index: 99
  padding: 10px 36px
  width: 100%
  border: none
  font-size: 18px
  // transition: all 0.2s ease-in-out

  .brand
    align-items: center
    color: hsla(0,0%,100%,.9)
    display: flex
    flex: none
    font-size: 1.1em
    font-weight: 600
    text-decoration: none
    margin-right: auto

    &:hover
      color: hsla(0,0%,100%,.9);

  .brand-image
    height: 40px
    width: 40px
    margin: 0
    margin-right: 8px
    border: 1px solid #eaeefb
    border-radius: 100%
    padding: 0

    &:hover
      box-shadow: none;

  #header-social-icons
    margin: 0 auto
    line-height: 1.7

    .social-icon
      margin: 0 0.5rem
      font-size: 1.1rem
      cursor: pointer
      &:hover
        color: $light-grey
    
    .search
      margin: 0 0.5rem

  .toggle-menu, .toggle-social
    display: none
    padding-top: 0.5rem
    color: $light-grey
    cursor: pointer
    transition: all 0.2s ease-in-out
    &:hover
      color: $white

  a
    color: $light-grey
    text-decoration: none
    &:hover
      color: $white

  .site-page
    margin-left: 0.6rem
    font-size: 0.7rem

  &.fixed
    position: fixed
    top: 0
    z-index: 101
    background-image: url($bg-svg)
    background-attachment: fixed
    background-size: cover;
    // background: alpha($white, 0.8)
    // box-shadow: 0 5px 6px -5px alpha($grey, 0.6)
    // transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out

    &.open-sidebar
      width: calc(100% - 300px)

    /*
      .site-page
        display: none
        opacity: 0
    
    a,
    .toggle-menu, .toggle-social
      color: $light-black
      &:hover
        color: $light-blue
    */
  &.visible
    transform: translate3d(0, 100%, 0)

  #site-name
    font-weight: bold
    cursor: pointer

@media screen and (min-width: $sm)
  #site-title
    font-size: 2rem

  #site-sub-title
    font-size: 1.2rem

@media screen and (max-width: $sm)
  #page-header
    padding: 10px 0.8rem

    .toggle-menu, .toggle-social
      display: block

    .menus, .socialicons
      position: absolute
      top: 3rem
      right: 0.8rem
      display: none
      width: 8rem
      background: alpha($white, 0.9)
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.27)
      a
        display: block
        margin-left: 0
        padding-top: 0.3rem
        padding-bottom: 0.3rem
        padding-left: 0.6rem
        color: $font-black
        font-size: 0.8rem
        &:hover
          color: $light-blue
       
    .socialicons
      width: 3rem
      right: auto

